<!--The content below is only a placeholder and can be replaced.-->
<div id="tool">
  <mat-toolbar>
    <img width="35" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <ul class="whatatool">
    <li>Material</li>
    <li>Components</li>
    <li>CDK</li>
    <li>Guides</li>
    </ul>
  </mat-toolbar>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

</div>

<i class="material-icons">fingerprint</i>
<button mat-raised-button color="primary" (click)="toggle = !toggle">Mr Knighton Hobbies |  {{toggle ? 'hide' : 'show'}}</button>
<i class="material-icons">fingerprint</i>

<div id="list-buttons" *ngIf="toggle">
  <button mat-raised-button class="hobby" color="accent">Play with Pup</button>
  <br>
  <button mat-raised-button class="hobby" color="primary">Watch Futurama!</button>
  <br>
  <button mat-raised-button class="hobby" color="warn">Eat Pizza</button>
  <br>
  <button mat-raised-button class="hobby">Go Shopping with Girl friend</button>
</div>



<!--<button mat-fab color="warn">-->
  <!--<i class="material-icons">favorite</i>-->
<!--</button>-->


